<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Download file from cloud storage</title>
  </head>
  <body>
    <button id="download" type="button">Download</button>
    <section id="preview-box"></section>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-storage.js"></script>
    <script src="../scripts/initialize.js"></script>
    <script>
      (function(firebase) {
        const downloadButtonElement = document.getElementById('download');
        downloadButtonElement.addEventListener('click', handleDownload, false);

        function handleDownload() {
          const storage = firebase.storage();
          const pathReference = storage.ref('images/cedar-contributors.png');
          pathReference.getDownloadURL().then(url => {
            var xhr = new XMLHttpRequest();
            xhr.responseType = 'blob';
            xhr.onload = function(event) {
              var blob = xhr.response;
            };
            xhr.open('GET', url);
            xhr.send();

            const previewBoxElement = document.getElementById('preview-box');
            const img = document.createElement('img');
            img.src = url;
            previewBoxElement.appendChild(img);
          });
        }
      })(firebase);
    </script>
  </body>
</html>
